legend {
    font-family: Roboto, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 3px;
}

label.label {
    font-weight: lighter;
}

fieldset {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 25px;
    border-radius: 15px;
    border-color: rgba(255, 0, 0, 0.3);
    margin: 10px;
}

input {
    margin: 8px 3px;
}

.submit {
    display: flex;
    justify-content: center;
}

#submit-button {
    color: white;
    font-family: Roboto;
    background-color: red;
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 10px;
}